.container {/*elemento pai*/
    background-color:gainsboro;
    min-height:2000px;  
    width: 100%;
    text-align:center;
    position:relative;
    display: flex;
    flex-flow: column;    
 
}

.container  {
    flex-grow: 0;
    flex-basis: auto;    
}



body {
    height: 100vh;
    margin: 0
}



.conteudo {
    font-family: Arial;    
    font-size: 12px;  
    position:  absolute ;
    width: 70%;
    top:  120px; 
    left: 350px;
    height:auto;    
    padding: 10px;    
    font-family: Arial;
    font-size: 20px; 
    text-align: justify;   
    
}



.conteudo >p {
    font-family: Arial;
    font-size: 16px; 
    text-align: justify;
}


.cabecalho  {
    color:black ;    
    font-family: Arial;
    font-size: 10px;       
}

.menu_horizontal {
    background-color:black;
    position: relative;
    top:  20px;    
    height:50px;
    border-style:	solid;
    font-size: 18px; 
} 

.menu_horizontal >a {
    color:azure;
} 

.menu_horizontal >a:hover {
    color:yellow;
    font-size: large;    
} 


.barra_lateral {
    background-color:whitesmoke;        
    border-style: solid;  
    width: 350px;
    top: 20px;        
    position: relative;
    flex-grow: 2;
    display: flex;
   
}   

.center {
	justify-content: center;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.column {
	min-height: 200px;
	flex-direction: column;
}

.conteudo_barra_lateral{    
    background-color:rgb(160, 160, 160);        
    min-height: 100vh ;
    right: 25px;    
    left: 25px;
    padding: 10px;    
    width: 250px;   
    position: relative;
    flex-grow: 2;
    
    
}


.conteudo_barra_lateral p  {
   color: rgb(231, 226, 226);
   border-bottom:	2px	solid	#333333;
   width: 250px; 
   height: 30px;   
   border-style: solid;  
   
}

.conteudo_barra_lateral >p:hover {
    color:yellow;
    font-size: large;       
}




.conteudo_barra_lateral >a:hover {
    color:yellow;
    font-size: large;    
    
}



.rodape {
    background-color:black;
    top: 96 hv ;
    height: 60px;
    width: 100%;
    position: relative;
	bottom: 0;
    
}

.rodape  >p {
    color: white;
    text-align: justify;
}

.contato  {
    font-family: Arial;
    font-size: 12px; 
    text-align: left;
    position:  absolute ;
    width: 70%;
    top:  120px; 
    left: 360px;
}

#div_img > img{
    height: 200px;
    width: auto;
    position: relative;
    float:left;
    text-align:center;
    border-style: solid;
    margin:5px;

}


#div_img2 > img{
    width: 100%;
    height: 100%;
    position: relative;
    float:left;
    text-align:center;
    border-style: solid;
    margin:5px;
}