html,
body {
    height: 100vh;
    margin: 0
}

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.container #menu_horizontal {
    flex-grow: 0;
    flex-basis: auto;
    background-color: hotpink;
}

.container #conteudo #barra_lateral #conteudo_barra_lateral {
    flex-grow: 1;
    flex-basis: auto;
    background-color: gold;
}

.container #rodape {
    flex-grow: 0;
    flex-basis: 100px;
    background-color: indianred;
}

.container {
    background-color:gainsboro;  
    width: 100%;
    text-align:center;
    position:absolute;
   
}

#conteudo {
    font-family: Arial;    
    font-size: 12px;  
    
    width: 70%;
    top:  120px; 
    left: 350px;    
    padding: 10px;    
    font-family: Arial;
    font-size: 20px; 
    text-align: justify;       
}

#conteudo >p {
    font-family: Arial;
    font-size: 16px; 
    text-align: justify;
}

#contato  {
    font-family: Arial;
    font-size: 12px; 
    text-align: left;
    position:  absolute ;
    width: 70%;
    top:  120px; 
    left: 360px;
}

#cabecalho  {
    color:black ;    
    font-family: Arial;
    font-size: 10px;       
}

#menu_horizontal {
    background-color:black;
    
    top:  20px;    
    height:50px;
    border-style:	solid;
    font-size: 18px; 
} 

#menu_horizontal >a {
    color:azure;
} 

#menu_horizontal >a:hover {
    color:yellow;
    font-size: large;    
} 

#barra_lateral {
    background-color:whitesmoke;        
    border-style: solid;  
    
    width: 350px;
    top: 20px;       
}   

#conteudo_barra_lateral{    
    background-color:rgb(160, 160, 160);    
    top:20px;    
    left: 25px;       
    right: 25px;    
    padding: 10px;    
    width: 250px;       
}

#div_img > img{
    height: 200px;
    width: auto;
    position: relative;
    float:left;
    text-align:center;
    border-style: solid;
    margin:5px;

  }


#conteudo_barra_lateral p  {
   color: rgb(231, 226, 226);
   border-bottom:	2px	solid	#333333;
   width: 250px; 
   height: 30px;
   border-style: solid;   
}

#conteudo_barra_lateral >p:hover {
    color:yellow;
    font-size: large;     
}

#conteudo_barra_lateral >a:hover {
    color:yellow;
    font-size: large;        
}

#rodape {
    background-color:black;
    top: 96%;
    height: 60px;
    width: 100%;    
	bottom: 0;
}

#rodape > p {
    color: white;
}